<settings>
    <!-- Phone/Garmin-Connect config, only reachable once published to the Connect
         IQ Store (a sideloaded app has no phone settings - use on-watch login). -->
    <setting propertyKey="@Properties.absServerUrl" title="@Strings.settingServerUrl">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.absApiKey" title="@Strings.settingApiKey">
        <settingConfig type="alphaNumeric"/>
    </setting>
</settings>
